:root
{
  --primarycolor: #265817;
  --secondarycolor: #ffffff;
  --lightcolor: #ffffff;
  --bgcolor-1: #333333;
  --bgcolor-2: #22282a;
  --padding: 8%;

}
html{
  font-size: 16px;
  color: var(--lightcolor);
}
.home{
  width:100%;
  height: 100vh;
  background-color:var(--bgcolor-1);
  display: flex;
  flex-direction: column;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2{
  font-size: 2.2rem;
  letter-spacing: 0.12rem;
  cursor: pointer;
}
nav{
  padding-top: 2.8rem;
  padding-left: var(--padding);
  padding-right: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
background-color: black;
position: fixed;
margin-right: 25rem;
}
span{
  color: var(--primarycolor);
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0.8rem 1.5rem;
}
nav ul li a {
  color: rgb(189, 135, 0);
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.4s;
}
nav ul li a:hover{
  color: var(--primarycolor);
}
.btn{
  background-color: var(--primarycolor);
  text-decoration: none;
  font-weight: bold;
  border: 2px solid transparent;
  padding: 0.81rem 1.81rem;
  border-radius: 30px;
color: #ffffff;
}
.btn:hover{
  background-color: transparent;
  border: 2px solid whitesmoke;
  transition: 0.7s;
}
.content{

 flex-grow: 1;
 padding: 0 var(--padding);
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.content-texts{
  position: relative;
  bottom: 70px;
}
h1{
  font-size: 4.65rem;
  margin: 1.7rem 0;
}
h3{
  font-size: 1.5rem;
margin-bottom: 3.5rem;
}
h4{
  font-size: 1.25rem;
  letter-spacing: 0.12rem;
  color: var(--primarycolor);
}
.h5{
  font-size: 1.37rem;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
}
.social{
  margin-top: 3.5rem;
}
.social img{
  margin-right: 2rem;
  width: 2.5rem;
}
.social img:hover{
  transform: scale(1.2);
  transition: 0.4s;
}
.home .container-images{
  width: 40%;
  height: 80%;
  position: relative;
  align-self: flex-end;
}
.home .container-images img{
  position: absolute;
  bottom: 0;
height: 100%;
left: 50%;
transform: translateX(-50%);
transition: bottom 1s ,left 1s ;
}
.home .container-images:hover .shape{
  bottom: 40px;
}
.home .container-images:hover .pic{
  left: 45%;

}
.about{
  background-color: var(--bgcolor-2);
  padding:2rem var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.about .container-images{
  width: 35%;
}
.about .container-images img{
  width: 90%;
}
.about.container-texts{
width: 35%;
}


.skills{
  background-color: var(--bgcolor-1);
  padding:2rem var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.skills .container-images{
  width: 35%;
}
.skills .container-images img{
width: 90%;
}
.skills .container-skills{
  width: 40%;
}
.content-skills{
  display: flex;
  flex-wrap: wrap;
}

.skill img{
  width: 90px;
  height: 80px;i
}
footer{
color: white;
background:black;

}